pkgbase = retroarch-standalone-service
	pkgdesc = Systemd service and user to run Retroarch in stand-alone mode
	pkgver = 2
	pkgrel = 13
	install = retroarch-standalone.install
	arch = x86_64
	arch = i686
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = MIT
	depends = retroarch
	depends = retroarch-assets-xmb
	depends = xorg-server
	depends = xorg-xinit
	depends = xorg-xset
	depends = unclutter
	source = retroarch-standalone.service
	source = retroarch-standalone.sysuser
	source = retroarch-standalone.cfg
	source = retroarch-standalone.xinitrc
	sha256sums = 5efc1dcc2d220a33f0d53d6abe4538227f434ff2a00f5165bb209cf6e0bae4a3
	sha256sums = 48d9f35b943209764990050a06dea9bd356aa275adccb3e0a835e738e6beb0c6
	sha256sums = 16355b39c55aa173b6ab1c5f2115f667fe01bdca7c3d7ae5f3a301666e64fb48
	sha256sums = 0b0171e9b21496d03585ec2bf89298c36e4c86179bc0315f49bdb081b648a523

pkgname = retroarch-standalone-service

